extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        .form-group
            label(for='idBici') ID:
            input#idBici.form-control(type='text' placeholder='Ingrese el ID...' name='idBici')
        .form-group
            label(for='colorBici') Color:
            input#colorBici.form-control(type='text' placeholder='Ingrese el color...' name='colorBici')
        .form-group
            label(for='modeloBici') Modelo:
            input#modeloBici.form-control(type='text' placeholder='Ingrese el modelo...' name='modeloBici')
        .form-group
            label(for='latBici') Latitud:
            input#latBici.form-control(type='text' placeholder='Ingrese latitud...' name='latBici')
        .form-group
            label(for='lonBici') Longitud:
            input#lonBici.form-control(type='text' placeholder='Ingrese longitud...' name='lonBici')
        br
        br
        input.btn.btn-success(type='submit' value='OK')
