extends ../layout

block content
    a(href='bicicletas/create') Agregar bicicleta

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') Acciones
        tbody
            each bici in bicis
                tr
                    th(scope='row')= bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        form.inline(method='get' action='bicicletas/' + bici.id + '/update')
                            input(type='hidden' name='idBici' value=bici.id)
                            button.btn.btn-secondary(type='submit' name='submit_param' value='submit_value') Editar
                        form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                            input(type='hidden' name='idBici' value=bici.id)
                            button.btn.btn-dark(type='submit' name='submit_param' value='submit_value') Eliminar
