extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Editando Bicicleta

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        .form-group
            label(for='idBici') ID:
            input#idBici.form-control(type='text' placeholder='Ingrese el ID...' name='idBici' value=bici.id)
        .form-group
            label(for='colorBici') Color:
            input#colorBici.form-control(type='text' placeholder='Ingrese el  color...' name='colorBici' value=bici.color)
        .form-group
            label(for='modeloBici') Modelo:
            input#modeloBici.form-control(type='text' placeholder='Ingrese el modelo...' name='modeloBici' value=bici.modelo)
        .form-group
            label(for='latBici') Latitud:
            input#latBici.form-control(type='text' placeholder='Ingrese latitud...' name='latBici' value=bici.ubicacion[0])
        .form-group
            label(for='lonBici') Longitud:
            input#lonBici.form-control(type='text' placeholder='Ingrese longitud...' name='lonBici' value=bici.ubicacion[1])
        br
        br
        input.btn.btn-success(type='submit' value='OK')
